
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------- */
/* header */
header {
        background-color: #ff6900;

        margin-bottom: 50px;
}

nav {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 100%;
}
/* /header */
/* ---------------------------------- */

/* ---------------------------------- */
/* main */

main {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 2000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.card {
    width: 30%;
    height: 50%; 

    /* test */
    border: 2px solid red;
}




/* /main */
/* ---------------------------------- */