header {
        background-color: #ff6900;
}

nav {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 100%;
}

