
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------- */
/* header */
header {
        background-color: #ff6900;

        margin-bottom: 50px;
}

nav {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 50%;
}
/* /header */
/* ---------------------------------- */

/* ---------------------------------- */
/* main */

main {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 

    

}
.card {
    width: 30%;
    max-height: 500px; 



    /* test */
    border: 2px solid red;
}

/* /main */
/* ---------------------------------- */


/* ---------------------------------- */
/* footer */

/* footer{
    background-color: #1a1a1a;
} */

footer {
    height: 150px;
    color: white;
    background-color: #1a1a1a;
}

.cont-footer {
    display: flex;
    justify-content: space-between;
    
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.cont-footer-top {
    display: flex;
    flex-direction: column;
}

.cont-footer-bottom {
    display: flex;
    flex-direction: column;
}




/* /footer */
/* ---------------------------------- */